body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 57px;
}

.gallery img {
    width: 100%;
}